<div class="has-error"></div>
<div class="kazoku-error">
    <h2 class="error-title">{{ 'Ha ocurrido un error' | trans }}</h2>
    <p class="error-message"></p>
    <button>{{ 'Cerrar' | trans }}</button>
</div>
