<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © {% if title is defined %}  {{ title }}{% else%}Kazoku{% endif %} {{ "now"|date("Y") }}</span></div>
    </div>
</footer>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/chart.min.js"></script>
<script src="/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/js/theme.js"></script>
<script>
    window.onload = function(){
        innerCounter('messagesCenter','a','popupMessages');
        innerCounter('alertsCenter','a','popupAlerts');
    };

    /**
     * Function that is used for notification center's pop ups that have a counter.
     * @param divId the div that contains the lists
     * @param tagName the kind of tag that contains each row
     * @param popUpId the id of the popup
     */
    function innerCounter(divId,tagName,popUpId) {
        var num = $("#"+divId).find(tagName).length;
        if (num > 1) {
            document.getElementById(popUpId).innerHTML = num-1;
        }
    }

</script>