<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © {% if title is defined %}  {{ title }}{% else%}Kazoku{% endif %} {{ "now"|date("Y") }}</span></div>
    </div>
</footer>
</div><a class="border rounded d-inline scroll-to-top heartbeat"  href="#page-top"><i class="fas fa-angle-up"></i></a></div>
<script src="/js/main.js"></script>
<script>
   function animarSalida($tdLine){
        $('#tr'+$tdLine).addClass('deslizar-derecha');
   };

</script>