<div class="text-center mt-5">
    <img src="/img/stop.png" class="img-responsive w-25">
    <h1 class="text-dark my-5 lead">{{"MATTE!" |trans }}</h1>
    <p class="text-black-50 mb-0">{{ "Esta página está todavía en construcción" |trans  }}</p><a href="/">← {{ "Volver al inicio" | trans }}</a>
</div>