@import '../../variables/variables';
@import '../../variables/mixins';

body[data-action="user-activate"] {
  background-image: $form-page-background;

  div {
    @include full-page-form;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    background-color: white;

    h2 {
      color: black;
      margin-top: .5em;
      text-align: center;
    }

    figure {
      min-height: 0;
      height: 100%;

      img {
        display: block;
        margin: 0 auto;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
      }
    }

    p {
      color: black;
      text-align: center;
      margin: 1rem .25rem;
    }

    a {
      @include full-page-form-button;
      text-decoration: none;
      text-align: center;
      margin: auto 0 1em;

      @media (max-width: $mobile-breakpoint) {
        margin: auto auto 1em;
      }
    }
  }
}
