@import '../../variables/variables';
@import '../../variables/mixins';

body[data-action="update-password-recovery"] {
  background-image: $form-page-background;

  div.recovery-form {
    @include full-page-form;
    width: 50vw;
    height: 45vh;

    .left {
      @include half-width-full-height-container;
      @include form-logo;
    }

    .right {
      flex-basis: 50%;

      form {
        @include full-page-form-input;
        padding: 2em;

        h2 {
          color: rgb(100, 100, 100);
          font-size: 1.75em;
          text-align: center;
        }
      }
    }

    button {
      @include full-page-form-button;
    }

    @media(max-width: $mobile-breakpoint) {
      width: 80vw;
      height: 80vh;

      .right {
        max-height: 50%;
        max-width: 100%;
      }
    }
  }
}
