{% extends './partials/base.twig' %}

{% block body %}
    <div class="justify-content-between d-flex py-3">
        <h3 class="text-dark my-1 d-inline-block">{{"Alumnos" | trans}}</h3>
        <a class="btn kaz-azul text-light btn-sm d-sm-inline-block mt-1" role="button" href="/judokaDetail/">
            <i class="fas fa-plus fa-sm text-white-50" ></i> {{ "Añadir Alumno" | trans }}
        </a>
    </div>
    {% include 'partials/judokasCard.twig' %}
{% endblock %}
