{% include 'partials/head.twig' %}

<body data-action="login">
<div class="login-form">
    <div class="left">
        <figure>
            <img src="/img/logo/logoL.png" alt="Kazoku Logo" />
        </figure>
    </div>
    <div class="right">
        <form>
            <h2>{% trans %}¡Bienvenido!{% endtrans %}</h2>
            <input name="username" placeholder="{% trans %}Usuario{% endtrans %}"/>
            <input name="password" type="password" placeholder="{% trans %}Contraseña{% endtrans %}"/>
            <button>{% trans %}Iniciar sesión{% endtrans %}</button>
        </form>
    </div>
</div>

{% include 'partials/scripts.twig' %}
</body>

