{% extends './partials/base.twig' %}

{% block body %}
    <a class="btn btn-primary" href="/classAdmin">{{ "Gestión de clases" | trans }}</a>
    <a class="btn btn-primary" href="/centerAdmin">{{ "Gestión de centros" | trans }}</a>
{% endblock %}
