{% include 'partials/head.twig' %}
<body data-action="register">
<div class="register-form">
    <div class="left">
        <figure>
            <img src="/img/logo/logoL.png" alt="Kazoku Logo" />
        </figure>
    </div>
    <div class="right">
        <form>
            <h2>{% trans %}Registro{% endtrans %}</h2>

            <div class="form-row">
                <input autocomplete="off" name="name" placeholder="{% trans %}Nombre{% endtrans %}" />
                <input autocomplete="off" name="surname" placeholder="{% trans %}Primer apellido{% endtrans %}" />
                <input autocomplete="off" name="second-surname" placeholder="{% trans %}Segundo apellido{% endtrans %}" />
            </div>

            <div class="form-row">
                <input autocomplete="off" name="username" placeholder="{% trans %}Nombre de usuario{% endtrans %}" />
                <input autocomplete="off" name="phone" placeholder="{% trans %}Teléfono{% endtrans %}" />
                <input autocomplete="off" name="email" placeholder="{% trans %}Correo electrónico{% endtrans %}" />
            </div>

            <div class="form-row">
                <input autocomplete="off" name="password" type="password" placeholder="{% trans %}Contraseña{% endtrans %}" />
                <input autocomplete="off" name="repeated-password" type="password" placeholder="{% trans %}Repite la contraseña{% endtrans %}" />
            </div>

            <hr />

            <span>Eres...</span>
            <select name="rank">
                <option value="-1" selected disabled>Selecciona una opción</option>
                <option value="3">Alumno</option>
                <option value="2">Padre</option>
                <option value="1">Profesor</option>
            </select>

            <button>{% trans %}Registrarse{% endtrans %}</button>
        </form>
    </div>
</div>
</body>
{% include 'partials/scripts.twig' %}
