<html>
{% include 'partials/head.twig' %}

<body data-action="user-activate">
<div>
    <h2>Cuenta activada correctamente</h2>
    <figure>
        <img src="/img/logo/logoL.png" alt="Kazoku logo" />
    </figure>
    <p>Su cuenta ha sido activada correctamente. Pulse en el botón inferior para volver a la home.</p>
    <a href="/" >Volver a la home</a>
</div>
{% include 'partials/scripts.twig' %}
</body>
</html>


