<html>
{% include 'partials/head.twig' %}

<body data-action="start-password-recovery">
<div class="recovery-form">
    <div class="left">
        <figure>
            <img src="/img/logo/logoL.png" alt="Kazoku Logo" />
        </figure>
    </div>
    <div class="right">
        <form>
            <h2>{% trans %}Recuperación de contraseña{% endtrans %}</h2>
            <input autocomplete="off" name="email" placeholder="{% trans %}Email{% endtrans %}"/>
            <button>{% trans %}Recuperar contraseña{% endtrans %}</button>
        </form>
        <div class="text-center">
            <a href="/">{{ "Volver al inicio" | trans }}</a>
        </div>
    </div>
</div>

{% include 'partials/scripts.twig' %}
</body>
</html>
