@import '../variables/animations';
@import '../variables/variables';
@import '../variables/mixins';

body[data-action="login"] {
  background-image: linear-gradient(180deg, #f8f9fc 10%,#c2cbe5);

  div.login-form {
    @include full-page-form;
    @include full-page-form-button;
    width: 50vw;
    height: 45vh;

    .left {
      @include half-width-full-height-container;
      @include form-logo;
    }

    .right {
      flex-basis: 50%;

      form {
        @include full-page-form-input;
        padding: 2em;

        h2 {
          color: rgb(100, 100, 100);
          font-size: 1.75em;
          text-align: center;
        }
      }
    }

    @media(max-width: $mobile-breakpoint) {
      width: 80vw;
      height: 80vh;

      .right {
        max-height: 50%;
        max-width: 100%;
      }
    }
  }
}
